<div class="container">
  <div class="jumbotron p-10">
    <h1>Process Scheduling Algorithms</h1>
    <small class="text-muted">Presented by Koh Shi Jing</small>
  </div>
  <div class="card" style="overflow-x: auto;">
    <div class="card-body">
      <app-table (submitEvent)="receiveMessage($event)"></app-table>
      <div class="mt-2 d-none d-md-block">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary">
            <input type="checkbox" name="fcfs" id="fcfs" value="fcfs" checked (click)="changeState($event)"> FCFS
          </label>
          <label class="btn btn-outline-secondary">
            <input type="checkbox" name="npsjf" id="npsjf" value="npsjf" checked (click)="changeState($event)"> Non-Preemptive SJF
          </label>
          <label class="btn btn-outline-danger">
            <input type="checkbox" name="npp" id="npp" value="fcfs" checked (click)="changeState($event)"> Non-Preemptive Priority
          </label>
          <label class="btn btn-outline-warning">
            <input type="checkbox" name="psjf" id="psjf" value="psjf" checked (click)="changeState($event)"> Preemptive SJF
          </label>
          <label class="btn btn-outline-info">
            <input type="checkbox" name="pp" id="pp" value="pp" checked (click)="changeState($event)"> Preemptive Priority
          </label>
          <label class="btn btn-outline-dark">
            <input type="checkbox" name="rr" id="rr" value="rr" checked (click)="changeState($event)"> Round Robin
          </label>
        </div>
      </div>
      <div class="mt-2 d-md-none">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary btn-sm">
            <input type="checkbox" name="fcfs" id="fcfs" value="fcfs" checked (click)="changeState($event)"> FCFS
          </label>
          <label class="btn btn-outline-secondary btn-sm">
            <input type="checkbox" name="npsjf" id="npsjf" value="npsjf" checked (click)="changeState($event)"> Non-Preemptive SJF
          </label>
          <label class="btn btn-outline-danger btn-sm">
            <input type="checkbox" name="npp" id="npp" value="fcfs" checked (click)="changeState($event)"> Non-Preemptive Priority
          </label>
          <label class="btn btn-outline-warning btn-sm">
            <input type="checkbox" name="psjf" id="psjf" value="psjf" checked (click)="changeState($event)"> Preemptive SJF
          </label>
          <label class="btn btn-outline-info btn-sm">
            <input type="checkbox" name="pp" id="pp" value="pp" checked (click)="changeState($event)"> Preemptive Priority
          </label>
          <label class="btn btn-outline-dark btn-sm">
            <input type="checkbox" name="rr" id="rr" value="rr" checked (click)="changeState($event)"> Round Robin
          </label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="submitted" class="mt-4 mb-4">
    <h2 class="font-weight-bolder">Result</h2>
    <div class="mb-3" *ngIf="fcfs">
      <app-fcfs [myProcess]="process"></app-fcfs>
      <hr>
    </div>
    <div class="mb-3" *ngIf="npsjf">
      <app-npsjf [myProcess]="process"></app-npsjf>
      <hr>
    </div>
    <div class="mb-3" *ngIf="npp">
      <app-npp [myProcess]="process"></app-npp>
      <hr>
    </div>
    <div class="mb-3" *ngIf="psjf">
      <app-psjf [myProcess]="process"></app-psjf>
      <hr>
    </div>
    <div class="mb-3" *ngIf="pp">
      <app-pp [myProcess]="process"></app-pp>
      <hr>
    </div>
    <div class="mb-3" *ngIf="rr">
      <app-rr [myProcess]="process"></app-rr>
    </div>
  </div>
</div>