<div class="container">
  <div class="jumbotron p-10">
    <h1>Process Scheduling Algorithms</h1>
    <small class="text-muted">Presented by Koh Shi Jing</small>
  </div>
  <div class="card">
    <div class="card-body">
      <form>
        <div>
          <button type="button" class="btn btn-outline-warning">+ Add New Process</button>
          <button type="button" class="btn btn-outline-success ml-2">Run</button>
        </div>
        <table class="table mt-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Process Name</th>
              <th scope="col">Arrival Time</th>
              <th scope="col">Burst Time</th>
              <th scope="col">Priority</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let process of processes">
              <td>
                <button type='button' class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                {{process.name}}
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="start" [(ngModel)]="process.start">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="burst" [(ngModel)]="process.burst">
                </div>
              </td>
              <td>
                <div class="form-group">
                  <input type="text" class="form-control" id="prior" [(ngModel)]="process.prior">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mt-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="fcfs" value="fcfs" checked>
            <label class="form-check-label" for="fcfs">First Come First Serve (FCFS)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="sjf" value="sjf" checked>
            <label class="form-check-label" for="sjf">Non-Preemptive SJF</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="psjf" value="psjf" checked>
            <label class="form-check-label" for="psjf">Preemptive SJF</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="priority" value="priority" checked>
            <label class="form-check-label" for="priority">Non-Preemptive Priority</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="np" value="np" checked>
            <label class="form-check-label" for="np">Preemptive Priority</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="rr" value="rr" checked>
            <label class="form-check-label" for="rr">Round Robbin</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
export default {
  data () {
    return {
      processes = [
        {
          name: 'P0',
          start: 0,
          burst: 7
        },
        {
          name: 'P1',
          start: 3,
          burst: 2
        }
      ]
    };
  }
}
</script>