<div class="container">
  <div class="jumbotron p-10">
    <h1>Process Scheduling Algorithms</h1>
    <small class="text-muted">Presented by Koh Shi Jing</small>
  </div>
  <div class="card">
    <div class="card-body">
      <form>
        <app-table></app-table>
        <div class="mt-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="fcfs" value="fcfs" checked>
            <label class="form-check-label" for="fcfs">First Come First Serve (FCFS)</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="sjf" value="sjf" checked>
            <label class="form-check-label" for="sjf">Non-Preemptive SJF</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="psjf" value="psjf" checked>
            <label class="form-check-label" for="psjf">Preemptive SJF</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="priority" value="priority" checked>
            <label class="form-check-label" for="priority">Non-Preemptive Priority</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="np" value="np" checked>
            <label class="form-check-label" for="np">Preemptive Priority</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="rr" value="rr" checked>
            <label class="form-check-label" for="rr">Round Robbin</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>